<div class="catalog-container">
  <header class="catalog-header">
    <h1 class="title">{{pageTitle}}</h1>
    <div class="search-actions">
      <button class="btn-primary" (click)="onSubmit()">{{submitButtonText}}</button>
    </div>
  </header>

  <div class="section-label">
    Orden de Servicio
  </div>

  <!-- Tabs -->
  <div class="tabs">
    <button class="tab-btn" [class.active]="activeTab === 1" (click)="setActiveTab(1)">
      1. General y Ruta
    </button>
    <button class="tab-btn" [class.active]="activeTab === 2" (click)="setActiveTab(2)">
      2. Asignación y Carga
    </button>
    <button class="tab-btn" [class.active]="activeTab === 3" (click)="setActiveTab(3)">
      3. Gastos y Evidencias
    </button>
    <button class="tab-btn" [class.active]="activeTab === 4" (click)="setActiveTab(4)">
      4. Seguimiento Operativo
    </button>
    <button class="tab-btn" [class.active]="activeTab === 5" (click)="setActiveTab(5)">
      5. Incidencias y Descuentos
    </button>
  </div>

  <!-- Contenido de tabs -->
  <div class="tab-content">
    <app-services-orden-general-ruta-view *ngIf="activeTab === 1" [formData]="formData"></app-services-orden-general-ruta-view>
    <app-services-orden-assignment-load-view *ngIf="activeTab === 2" [formData]="formData"></app-services-orden-assignment-load-view>
    <app-services-orden-evidence-view *ngIf="activeTab === 3" [formData]="formData"></app-services-orden-evidence-view>
    <app-services-orden-operational-monitoring-view *ngIf="activeTab === 4" [formData]="formData"></app-services-orden-operational-monitoring-view>
    <app-services-orden-incidents-discounts-view *ngIf="activeTab === 5" [formData]="formData"></app-services-orden-incidents-discounts-view>

  </div>
</div>
