* {
  box-sizing: border-box;
}
html,
body {
  background: #061B36 !important;
}

h1 {
  margin: 0;
  padding: 0;
}
.custom-form {
  min-width: 220px;
  max-width: 60%;
   width: 500px;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  color: black;
  margin-top: 10rem;
}
.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  border: 0 none;
  background: #ebf5fc;
}
.custom-form button {
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #F05A22;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
.logo-container {
  text-align: center;
  padding: 10px 0;
}
.logo {
  width: 100%;
  max-width: 220px;
  height: auto;
  transition: 0.3s ease;
}
.input-icon {
  position: relative;
  width: 100%;
}

.input-icon .material-icons {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6b7280;       /* gris suave */
  font-size: 22px;
  pointer-events: none;
}

.input-icon input {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem; /* ← espacio para el ícono */
  border-radius: 0.5rem;
  background: #ebf5fc;

  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
              inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

