<div class="form-section">
  <div class="form-grid">
    <div class="form-group">
      <label>Folio Servicio</label>
      <input type="text" [(ngModel)]="formData.folio" readonly>
    </div>

    <div class="form-group">
      <label>Cliente*</label>
      <select [(ngModel)]="formData.client" name="client">
        <option value="">-- Seleccionar --</option>
        <option *ngFor="let c of formData.options.clients" [value]="c">
          {{ c }}
        </option>
      </select>
      <!--<pre>{{ formData.options.clients | json }}</pre>-->
    </div>


    <div class="form-group">
      <label>Tipo Viaje</label>
      <select [(ngModel)]="formData.tripType">
        <option value="">-- Seleccionar --</option>
        <option *ngFor="let t of formData.options.tripTypes">{{ t.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Estatus</label>
      <select [(ngModel)]="formData.status">
        <option value="">-- Seleccionar --</option>
        <option *ngFor="let s of formData.options.statuses">{{ s }}</option>
      </select>
    </div>
    <div class="checkbox-row">
      <label>
        <input type="checkbox" [(ngModel)]="formData.provisionalLocalTeam">
        Equipo Provisional Local
      </label>
    </div>
  </div>

  <!-- Fechas Críticas  -->
  <h3>
    <span class="material-icons">
      calendar_month
    </span>
    Fechas Críticas
  </h3>
  <div class="form-grid">
    <div class="form-group">
      <label>Solicitud</label>
      <input type="date" [(ngModel)]="formData.daterequest" lang="es-MX" readonly>
    </div>
    <div class="form-group">
      <label>Fecha programada del servicio</label>
      <input type="datetime-local" [(ngModel)]="formData.fechaInicioRuta" lang="es-MX">
    </div>

    <div class="form-group">
      <label>Cita Carga</label>
      <input type="datetime-local" [(ngModel)]="formData.datecarry" lang="es-MX">
    </div>

    <div class="form-group">
      <label>Cita Descarga</label>
      <input type="datetime-local" [(ngModel)]="formData.datedownload" lang="es-MX">
    </div>
  </div>
  <h3>
    <span class="material-icons">
      location_on
    </span>
    DEFINICIÓN DE RUTA
  </h3>
  <div class="route-columns-wrapper">

    <!-- COLUMNA IZQUIERDA -->
    <div class="route-column">
      <div class="form-group">
        <label>Ruta</label>
        <input type="text" placeholder="Buscar ruta ..." [matAutocomplete]="auto"
          (input)="onSearch($event.target.value)" />
        <mat-autocomplete #auto [displayWith]="displayRoute" (optionSelected)="selectRoute($event.option.value)">
          <mat-option *ngFor="let r of filteredRoutes" [value]="r">
            {{ r.origen }} - {{ r.destino }}
          </mat-option>
        </mat-autocomplete>

        <div class="form-grid" *ngIf="formData.route.selectedRoute">
          <div class="form-group">
            <label>Origen</label>
            <input type="text" [value]="formData.route.selectedRoute.origen" readonly class="input-readonly" />
          </div>
          <div class="form-group">
            <label>Destino</label>
            <input type="text" [value]="formData.route.selectedRoute.destino" readonly class="input-readonly" />
          </div>
        </div>
      </div>
    </div>

    <!-- COLUMNA DERECHA -->
    <div class="route-column">
      <div class="form-group" *ngIf="formData.tripType === 'Foraneos'">
        <label>KM Estimados</label>
        <input type="number" [(ngModel)]="formData.estimatedKm" placeholder="KM">
      </div>
      <div class="form-group" *ngIf="formData.tripType === 'Foraneos'">
        <label>Tiempo Estimado</label>
        <input type="text" [(ngModel)]="formData.estimatedTime" placeholder="HH:MM" maxlength="5"
          pattern="([0-1][0-9]|2[0-3]):[0-5][0-9]" (input)="formatTime($event)" required>
      </div>
      <div class="form-group full-width">
        <label>Instrucciones / Comentarios</label>
        <textarea [(ngModel)]="formData.instrucciones" rows="4"
          placeholder="Comentarios especiales del cliente o Valmarq..."></textarea>
      </div>
      <div class="checkbox-row">
        <label>
          <input type="checkbox" [(ngModel)]="formData.requiresOvernight">
          Requiere Pernocta
        </label>
      </div>
    </div>

  </div>
</div>
