<div class="form-section">
  <h3>
    <span class="material-icons">person</span>
    Asignación de Recursos
  </h3>
  <div class="form-grid">
    <div class="form-group">
      <input type="text" placeholder="Buscar Operador ..." [matAutocomplete]="autoOperador"
        (input)="onSearchOperador($event.target.value)" style="width: 250px;" />
      <mat-autocomplete #autoOperador [displayWith]="displayOperador"
        (optionSelected)="selectOperador($event.option.value)">
        <mat-option *ngFor="let o of filteredOperators" [value]="o">
          {{ o.fullName }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <div class="alert" *ngIf="formData.operator" style="width: 750px;">
    ⚠️ Alerta: El operador seleccionado tiene la licencia próxima a vencer (15 días).
  </div>
  <app-armed-tract-view [formData]="formData"></app-armed-tract-view>
</div>

<h3>
  <span class="material-icons">article</span>
  DOCUMENTACIÓN DIGITAL (CARTA PORTE)
</h3>
<div class="document-buttons">
  <div class="file-upload-group">
    <input type="file" id="cartaPorte" (change)="onCartaPorteSelected($event)" accept=".pdf" style="display: none;" />
    <label for="cartaPorte" class="btn-secondary">
      <span class="material-icons">upload_file</span>
      + Subir Carta Porte (PDF)
    </label>
    <span class="file-name" *ngIf="formData.selectedCartaPorte">{{ formData.selectedCartaPorte }}</span>
  </div>
  <div class="file-upload-group">
    <input type="file" id="boletaTerminal" (change)="onBoletaTerminalSelected($event)" accept=".pdf"
      style="display: none;" />
    <label for="boletaTerminal" class="btn-secondary">
      <span class="material-icons">upload_file</span>
      + Subir Boleta Terminal
    </label>
    <span class="file-name" *ngIf="formData.selectedBoletaTerminal">{{ formData.selectedBoletaTerminal }}</span>
  </div>
  <div class="file-upload-group">
    <input type="file" id="doda" (change)="onDodaSelected($event)" accept=".pdf" style="display: none;" />
    <label for="doda" class="btn-secondary">
      <span class="material-icons">upload_file</span>
      + Subir DODA
    </label>
    <span class="file-name" *ngIf="formData.selectedDoda">{{ formData.selectedDoda }}</span>
  </div>
  <div class="file-upload-group">
    <input type="file" id="pedimentoFile" (change)="onPedimentoSelected($event)" accept=".pdf" style="display: none;" />
    <label for="pedimentoFile" class="btn-secondary">
      <span class="material-icons">upload_file</span>
      Subir Pedimento
    </label>
    <span class="file-name" *ngIf="formData.selectedPedimento">{{ formData.selectedPedimento }}</span>
  </div>
</div>
