.sidebar {
  width: 300px;
  color: #E9F3FC;
  height: 100vh;
  padding-top: 20px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.logo-container {
  text-align: center;
  padding: 10px 0;
}

.logo {
  width: 120px;
  cursor: pointer;
  height: auto;
  transition: 0.3s ease;
}

.sidebar.collapsed .logo {
  width: 40px;
}

.menu {
  margin-top: 20px;
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list > li {
  list-style: none;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  cursor: pointer;
  transition: background 0.2s;
}

.menu-item:hover {
  background: #F05A22;
}
.submenu-item:hover{
  background: #F05A22;
}

.menu-icon {
  font-size: 22px;
  margin-right: 12px;
}
.menu-item .material-icons {
  font-size: 22px;
  margin-right: 12px; /* ← AQUI EL ESPACIO */
}
.menu-label.hidden {
  display: none;
}

.submenu {
  margin: 0;
  padding-left: 40px;
  list-style: none;
}

.submenu-item {
  padding: 5px 0;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}
.toggle-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  text-align: right;  /* Botón alineado a la derecha */
}

.sidebar.collapsed .toggle-btn {
  text-align: center; /* Cuando está colapsado */
}

.sidebar.collapsed .collapse-btn {
  text-align: center;
}

.sidebar.collapsed .collapse-btn {
  text-align: center;
}
.sidebar.collapsed .collapse-btn {
  text-align: center;
}
