<div class="form-section">

  <h3>
    <span class="material-icons">local_shipping</span>
    IDENTIFICACIÓN Y CLASIFICACIÓN
  </h3>
  <div class="form-grid">      
    <div class="form-group">
      <label>Núm. Económico *</label>
      <input type="text" [(ngModel)]="formData.economicNumber" placeholder="Ej: ECO-001" required>
    </div>
    <div class="form-group">
      <label>Tipo de Unidad</label>
      <select [(ngModel)]="formData.equipTypeId">
        <option [ngValue]="null">-- Seleccionar --</option>
        <option *ngFor="let type of formData.options.unitType" [ngValue]="type.id">{{ type.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Marca</label>
      <input type="text" [(ngModel)]="formData.brandName" placeholder="Ej: Kenworth T880">
    </div>
    <div class="form-group">
      <label>Número de Serie</label>
      <input type="text" [(ngModel)]="formData.serialNumber" placeholder="Ej: 3JJL402M4RE000953">
    </div>
    <div class="form-group">
      <label>Año / Modelo</label>
      <select [(ngModel)]="formData.modelYear">
        <option [ngValue]="null">-- Seleccionar --</option>
        <option *ngFor="let y of formData.options.years" [ngValue]="y">{{ y }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Placas Federales</label>
      <input type="text" [(ngModel)]="formData.plates" placeholder="Placas Federales">
    </div>
    <div class="form-group full-width">
      <label>Descripción Detallada</label>
      <textarea [(ngModel)]="formData.description" rows="4"></textarea>
    </div>
  </div>

  <h3>
    <span class="material-icons">assignment</span>
    CONFIGURACIÓN OPERATIVA
  </h3>

  <div class="config-operativa">
    <div class="checkbox-row">
      <label>
        <input type="checkbox" [checked]="formData.tripTypeId === 2"
          (change)="formData.tripTypeId = $event.target.checked ? 2 : 1">
        Habilitado Foráneo (OK-NW)
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="formData.availablePartners">
        ¿Es de Socio/Proveedor?
      </label>
    </div>

    <div class="form-grid three-columns">
      <div class="form-group">
        <label>Capacidad Diésel (Lts)</label>
        <input type="number" [(ngModel)]="formData.dieselCapacity">
      </div>
      <div class="form-group">
        <label>Capacidad Arrastre (Tons)</label>
        <input type="number" [(ngModel)]="formData.towingCapacity">
      </div>
    </div>

    <div class="checkbox-row unidad-rotulada">
      <label>
        <input type="checkbox" [(ngModel)]="formData.labeledUnit">
        Unidad Rotulada (Cobre Externo)
      </label>
    </div>
  </div>
</div>